site_name: Noqx
site_author: Tony Xiang
site_description: Extended logic puzzle solver of Noq.
nav:
  - The Solver Manager: manager.md
  - The Clingo Backend: clingo.md
  - Solver Manager: manager.md
  - Clingo Backend: clingo.md
theme:
  name: material
  icon:
    logo: material/puzzle-check
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: Dark
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: orange
      accent: blue
      toggle:
        icon: material/weather-night
        name: Light
  language: en
  features:
    - content.code.copy
    - navigation.footer
    - navigation.instant
    - navigation.instant.progress
    - navigation.top
    - navigation.tracking
    - search.suggest
    - search.highlight
copyright: Copyright &copy; 2023-2025 Tony Xiang and Yaoyu Zhu <br> Dual licensed under GPL 3.0 and Apache 2.0
repo_url: https://github.com/T0nyX1ang/noqx
repo_name: T0nyX1ang/noqx
plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_section_style: table
            group_by_category: false
            members_order: source
            show_symbol_type_heading: true
            show_symbol_type_toc: true
  - git-revision-date-localized:
      type: timeago
      locale: zh
      fallback_to_build_date: true
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tilde
  - toc:
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
watch:
  - noqx
