body {
  margin: 0;
}

#solver_button {
  display: block;
  position: relative;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
}

#type,
#example,
#rules,
#param,
#solve,
#solver_reset {
  display: inline-block;
  font-size: 14px;
  position: relative;
  padding: 2px 5px;
  min-height: 24px;
  height: 24px;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 4px;
  background-color: var(--bgMain);
  color: var(--fgMain);
}

#parameter_box {
  display: none;
  font-size: 14px;
  margin-top: 10px;
  width: 600px;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 4px;
}

.parameter_div {
  display: inline-block;
}

#param_shapeset,
#param_letters {
  min-width: 100px;
  text-align: center;
}

#type + .select2-container,
#example + .select2-container {
  min-width: 166px;
  margin: 0 auto;
}

#type + .select2-container .select2-selection--single,
#example + .select2-container .select2-selection--single {
  border: 2px solid #000 !important;
  border-radius: 4px !important;
  background-color: var(--bgMain) !important;
  min-height: 24px !important;
  height: 24px !important;
  margin: 0 !important;
  padding: 2px 5px !important;
  text-align: center !important;
  vertical-align: middle !important;
}

#type + .select2-container .select2-selection__rendered,
#example + .select2-container .select2-selection__rendered {
  color: var(--fgMain) !important;
  line-height: normal !important;
  text-align: center !important;
}

.select2-results__option {
  text-align: center !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-right: 10px !important;
}

.select2-results__option {
    padding-top: 4px;
    padding-bottom: 4px;
}

.select2-results__group {
    padding-top: 2px;
    padding-bottom: 2px;
}
