body {
  margin: 0;
}

#iframe {
    display: block;
    border: none;
    width: 100vw;
    height: 100vh;
}

.right {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 10pt;
  text-align: center;
}

select,
button {
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
  width: 400px;
  height: 45px;
  text-align: center;
  cursor: pointer;
}

textarea {
  display: none;
  font-size: 24px;
  margin-bottom: 10px;
  width: 444px;
  height: 30px;
  text-align: center;
  resize: none;
  vertical-align: middle;
}
