body {
  margin: 0;
}

#solver_button {
  position: relative;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
}

.param_input {
  width: 30px;
  text-align: center;
}

#type,
#example,
#rules,
#param,
#solve,
#solver_reset {
  display: inline-block;
  padding: 2px 5px;
  min-height: 24px;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--bgMain);
  color: var(--fgMain);
}

#parameter_box {
  display: none;
  font-size: 14px;
  margin-top: 10px;
  width: 600px;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 4px;
}

.parameter_div {
  display: inline-block;
}

#param_shapeset, #param_letters {
  min-width: 100px;
  text-align: center;
}
