body {
  margin: 0;
}

#iframe {
    display: block;
    border: none;
    width: 100vw;
    height: 100vh;
}

.left {
  position: fixed;
  left: 10px;
  top: 40px;
  font-size: 10pt;
  text-align: center;
}

select,
button {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  width: 150px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  padding: 2px 5px;
  text-decoration: none;
  border-radius: 4px;
}

textarea {
  display: none;
  font-size: 24px;
  margin-bottom: 10px;
  width: 444px;
  height: 30px;
  text-align: center;
  resize: none;
  vertical-align: middle;
}
